<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!storage|public).*)$ public/$1 [L,NC]
    RewriteRule ^storage/(.*)$ storage/app/public/$1 [L,NC]
</IfModule>